<div class="main-container">
  <div class="login-container">
    <h1>Register</h1>
    <form class="login-form" (ngSubmit)="submitRegister()">

      <label for="usernameUnique">User tag</label>
      <input
              type="text"
              id="usernameUnique"
              name="password"
              required
              [(ngModel)]="usernameUnique"
              placeholder=""
      />

      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="username"
        [(ngModel)]="username"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
        placeholder="password"
      />

      <button type="submit">Register</button>
    </form>
  </div>
  <div class="image-container"></div>
</div>
