.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .search-container {
    width: 100%;
    max-width: 640px;

    .search-input {
      width: 100%;
      padding: 8px 16px;
      border-radius: 20px;
      border: none;
      background-color: #404040;
      color: white;
      font-size: 16px;
      height: 35px;
    }


    .search-input::placeholder {
      color: #bfbfbf;
    }

    .search-input:focus {
      outline: none;
    }

  }



}


