.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .search-container {
    width: 100%;
    max-width: 80%;

    .search-input {
      width: 100%;
      border-radius: 20px;
      border: none;
      background-color: #404040;
      color: white;
      font-size: 16px;
      height: 70px;
    }


    .search-input::placeholder {
      color: #bfbfbf;
    }

    .search-input:focus {
      outline: none;
    }

  }


}


