$navbar__height: 60px;

.app-layout {

}

.app-layout__main {
  width: 100%;
  min-height: 100%;
  background: white;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-top: $navbar__height;
}

.app-layout__background {
  position: absolute;
  inset: 0px;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.app-layout__content {
  inset: 0px;
  position: relative;
  padding: 0px 0px;
}

@media only screen and (max-width: 720px) {
  .app-layout__content {
    padding: 0px 20px;
  }
}

.navbar {
  background-color: #26232d;
}
