<div class="container">
  <div class="banner">
    <div class="image">
      <div class="profile-picture" [style.background-image]="'url(' + profilePicture + ')'">
      </div>
    </div>
  </div>
  <div class="about">
    <div class="edit-icon-container" *ngIf="user != undefined">
      <lucide-icon (click)="editProfile()" *ngIf="isViewingOwnProfile" name="pencil" class="edit" />
      <lucide-icon (click)="follow()" *ngIf="!isViewingOwnProfile && this.isFollowing" name="user-check" class="follow"/>
      <lucide-icon (click)="follow()" *ngIf="!isViewingOwnProfile && !this.isFollowing" name="user-plus" class="follow"/>
    </div>


    <h1 *ngIf="userFound" class="one">{{user?.username}}</h1>
    <p *ngIf="userFound" class="two">&commat;{{user?.usernameUnique}}</p>
    <p *ngIf="userFound" class="bio">{{user?.about}}</p>
    <h1 *ngIf="!userFound">User does not exist</h1>
  </div>

  <div class="posts" *ngIf="!isEditMode">
    <div class="post" *ngFor="let post of posts">
      <app-post [post]="post" [user]="user"></app-post>
    </div>
  </div>

  <div class="edit" *ngIf="isEditMode">
    <div class="edit-user-form ">
      <h1 class="text-center">Edit profile</h1>
      <label for="Username">Username</label>
      <input id="username" name="username" [(ngModel)]="username" placeholder="Username">
      <label for="bio">Biography</label>
      <input id="bio" name="bio" [(ngModel)]="bio" placeholder="Biography">

      <label for="docpicker">Choose a profile picture:</label>
      <input type="file" id="docpicker" name="docpicker" accept=".jpg,.jpeg,.png" [(ngModel)]="image" #docpicker/>

      <input type="button" value="Submit" (click)="onSubmitClick()">


    </div>

  </div>

</div>

