.container {
  display: flex;
  flex-direction: column;

  .banner {
    display: flex;
    padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;
  }

  .image {
    width: 100%;
    background: url("../../assets/jorg-angeli-CAMwIxYk5Xg-unsplash.jpg") no-repeat center;
    background-size: cover;
    flex-shrink: 0;
    height: 250px
  }

  .profile-picture {
    position: relative;
    top: 165px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid black;
  }

  .about {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: auto;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;

    p, h1 {
      margin: 0;
      word-wrap: break-word;
    }

    .one {
      font-size: 25px;
      font-weight: bold;
    }

    .two {
      font-size: 13px;
      font-style: italic;
    }

    .bio {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      font-size: calc(10px + 0.5vw);
    }

    .one .two .bio {
      padding: 0 10px;
    }
  }

  @media only screen and (max-width: 720px) {
    .banner {
      padding: 0;
    }

    .about {
      width: 90%;
      padding: 10px;

      .one, .two, .bio {
        padding: 0 5px;
      }

      .bio {
        font-size: calc(12px + 1vw);
      }
    }
  }
}
