.container {
  display: flex;
  flex-direction: column;

  .banner {
    display: flex;
    padding: 20px 10%;
  }

  .image {
    width: 100%;
    background: url("../../assets/jorg-angeli-CAMwIxYk5Xg-unsplash.jpg") no-repeat center;
    background-size: cover;
    flex-shrink: 0;
    height: 250px
  }

  .profile-picture {
    position: relative;
    top: 160px;
    margin-left: 20px;
    width: 65px;
    height: 65px;
    background: url("../../assets/default-pfp.jpg") no-repeat center;
    background-size: cover;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid black;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 720px) {
  .banner {
    padding: 0 0;
  }
}
