<div class="container">
  <div class="banner">
    <div class="image">
      <div class="profile-picture" [style.background-image]="'url(' + profilePicture + ')'">
      </div>
    </div>
  </div>
  <div class="about">
    <h1 *ngIf="userFound" class="one">{{user?.username}}</h1>
    <p *ngIf="userFound" class="two">&commat;{{user?.usernameUnique}}</p>
    <p *ngIf="userFound" class="bio">{{user?.about}}</p>

    <h1 *ngIf="!userFound">User does not exist</h1>
  </div>

  <div class="posts">
    <div class="post" *ngFor="let post of posts">
      <app-post [post]="post" [user]="user"></app-post>
    </div>
  </div>


</div>

