.container {
  display: flex;
  flex-direction: column;

  .banner {
    display: flex;
    padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;
  }

  .image {
    width: 100%;
    background: url("../../assets/jorg-angeli-CAMwIxYk5Xg-unsplash.jpg") no-repeat center;
    background-size: cover;
    flex-shrink: 0;
    height: 250px
  }

  .profile-picture {
    position: relative;
    top: 165px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid black;
  }

  .about {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: auto;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;

    p, h1 {
      margin: 0;
      word-wrap: break-word;
    }

    .one {
      font-size: 25px;
      font-weight: bold;
    }

    .two {
      font-size: 13px;
      font-style: italic;
    }

    .bio {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      font-size: calc(10px + 0.5vw);
    }

    .one .two .bio {
      padding: 0 10px;
    }

    .edit-icon-container {
      display: flex;
      justify-content: flex-end;

      .edit {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        width: 20px;
        height: 20px;
      }:hover {
        cursor: pointer;
      }
    }


  }

  @media only screen and (max-width: 720px) {
    .banner {
      padding: 0;
    }

    .about {
      width: 90%;
      padding: 10px;

      .one, .two, .bio {
        padding: 0 5px;
      }

      .bio {
        font-size: calc(12px + 1vw);
      }
    }
  }
}

.follow,
.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 30px;
  width: auto;
  align-self: center;

  .edit-user-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .edit-user-form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    flex-direction: column;
  }

  .edit-user-form input {
    flex-direction: column;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 350px;
    box-sizing: border-box;
  }

  .edit-user-form input:focus {
    border-color: #007bff;
    outline: none;
  }

  .edit-user-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .edit-user-form button:hover {
    background-color: #0056b3;
  }

  .edit-user-form > input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .edit-user-form > input[type=button]:hover {
    background-color: #45a049;
  }
}

