.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #332222;
  z-index: 1000;
}

.nav__item {
  display: inline-block;
  margin: 0px 30px;
  text-decoration: none;
  color: white;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.nav__item a:visited {
  color: white;
}

.nav__item:hover {
  background-color: black;
  border: 1px solid white;
}
