<nav class="sidenav">
  <ul class="navlist">

    <li class="navlist__item">
      <a routerLink="/dashboard">
        <div class="icon-container">
          <lucide-icon name="home" class="sidenav__item" />
          <span class="nav-label">Home</span>
        </div>
      </a>
    </li>

    <li class="navlist__item">
      <a routerLink="/profile">
        <div class="icon-container">
          <lucide-icon name="user" class="sidenav__item" />
          <span class="nav-label">Profile</span>
        </div>
      </a>
    </li>

    <li class="navlist__item">
      <a routerLink="/search">
        <div class="icon-container">
          <lucide-icon (click)="onSearchClick()" name="search" class="sidenav__item" />
          <span class="nav-label">Search</span>
        </div>
      </a>
    </li>


    <li class="navlist__item bottom">
      <button class="signout-button" (click)="signout()">
        <div class="icon-container">
          <lucide-icon name="log-out" class="sidenav__item"/>
          <span class="nav-label">Signout</span>
        </div>
      </button>
    </li>

  </ul>
</nav>
